.map-container {
  text-align: center;
  position: relative;
  width: 100%;
  height: 650px;
  background-color: #ccc;
  box-shadow: 2px 2px 3px #ccc;
  background: #fff;
}

.map-legend {
  width: 50%;
  height: 30px;
  background: linear-gradient(90deg, #ff2c35, #fff616, #33ff20);
  z-index: 1;
  position: absolute;
  bottom: 25px;
  left: 25%;
  border: #fff solid 2px;
}

#world-map {
  position: absolute;
  top: 0;
  width: 100%;
  height: 650px;
  margin: 0;
}

.jvectormap-container {
  border-radius: 5px;
  top: 0px;
}

.map-header {
  top: 0;
  min-height: 40px;
  width: 100%;
  background: #4e75f7;
  position: absolute;
  z-index: 1;
  border-radius: 5px 5px 0 0;
}

  .map-title {
    color: white;
    font-size: 1.1em;
    text-shadow: 1px 1px 1px #000;
    padding-top: 5px;
    margin: 0;
    height: 40px;
    width: 95%;
  }

  .data-selector {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
    border-left: solid #fff 1px;
    z-index: 3;
  }

    .fa {
      color: #fff;
      position: absolute;
      top: 12px;
      left: 12px;
      opacity: 1;
    }

.data-source {
  min-height: 20px;
  position: absolute;
  min-width: 50%;
  bottom: 0;
  right: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  text-align: right;
  margin-right: 20px;
}
  .data-source p {
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    z-index: 1;
    color: #fff;
  }
  .data-source a:link, a:visited, a:active{
    color: #fff;
    text-decoration: underline;
  }

  // .data-verlay-container {
  //   visibility: hidden;
  // }

  .data-overlay-container {
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.6;
    z-index: 2;
    position: relative;
    visibility: visible;
  }

    .data-category {
      position: relative;
      width: 40%;
      height: 40%;
      background: #ffe907;
      opacity: 1;
      z-index: 3;
      margin: 10px;
      float: left;
      padding: 10px;
      left: 0px;
      top: 0px;
    }
