.map-choice-container {
  top: 20px;
  position: relative;
  width: 100%;
  max-width: 420px;
  height: 300px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  box-shadow: 2px 3px 3px #ccc;
  text-align: center;
}
.world{
  background: #6BD412;
}
.europe{
  background: #72AFEE;
}
.usa{
  background: #CA413D;
}
  .map-choice-title {
    height: 50px;
  }
    .map-choice-title h2 {
      font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      font-size: 1.8em;
      color: #fff9f7;
      padding-top: 10px;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }
  .map-choice-img-holder {
    margin: 0 auto 0;
    overflow: hidden;
    max-width: 90%;
    margin-top: 30px;
    max-height: 200px;
  }