@import
  "normalize",
  "foundation",
  "jvectormap",
  "base",
  "mapcard",
  "map";

body {
}
.top-bar {
  height:60px;
  background:#6f5499;
  width: 100%;
  margin: 0 auto;
}

.brand {
  position: absolute;
  width: 335px;
  height: 35px;
  background: url(../../images/worlddata_logo.png);
  padding: 0;
  margin: 4px;
}

.map-area {
  // background: #f7f7f7 url("../../images/world.png") no-repeat center center fixed;
  // background-size: cover;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
}